@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
 background: #222222;
}

.p {
  letter-spacing: 2px;
  text-shadow: 0px 0px 30px rgb(150, 115, 255, 0.906);
  background: linear-gradient(260deg, rgba(61, 103, 255, 0.726) 0%, rgba(150, 115, 255, 0.906) 50%, rgb(239 206 255) 80%), rgb(255 255 255);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: color 1s ease;
  text-align: center; 
  font-family: 'Inter Tight', sans-serif; 
}

.p:hover {
  animation: textShadow 3.5s;
  color: #ffffffd6;
}

@keyframes textShadow {
  0% { text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.316); }
  100% { text-shadow: 0px 0px 40px rgba(255, 255, 255, 0.71);}
}


.s-text {
 font-family: 'Inter Tight', sans serif;
 text-align: center;
 color: #ffffff;
 text-shadow: 0px 0px 2.5px rgb(255 255 255)
}

.img {
  margin-left: auto;
}

.spacing{
  transition: letter-spacing 2s;
}

.spacing:hover{
  letter-spacing: 10px
}

.fade-in { 
  animation: fadeIn  2.5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.p-text {
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px rgb(150, 115, 255, 0.906);
  background: linear-gradient(260deg, rgba(61, 103, 255, 0.726) 0%, rgba(150, 115, 255, 0.906) 50%, rgb(239 206 255) 80%), rgb(255 255 255);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: color 1s ease;
  text-align: center; 
  font-family: 'Inter Tight', sans-serif; 
}

.p-text:hover {
  animation: pTextHover 0.5s;
  animation: pTextShadow 1s;
  color: #ffffffd6;
}

@keyframes pTextHover {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes pTextShadow {
  0% { text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.316); }
  100% { text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.71);}
}
