@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
 background: #222222;
}

.p {
   text-shadow: 0px 0px 30px rgb(150, 115, 255, 0.906);
    letter-spacing: 2px;
    background: linear-gradient(260deg, rgba(61, 103, 255, 0.726) 0%, rgba(150, 115, 255, 0.906) 50%, rgb(239 206 255) 80%),rgb(255 255 255);
    font-family: 'Inter Tight', sans-serif;
    color: #ffffff;
    text-align: -webkit-center;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s-text {
 font-family: 'Inter Tight', sans serif;
 text-align: -webkit-center;
 color: #ffffff
}

.img {
  margin-left: 32.5%;
}

.fade-in { 
  animation: fadeIn  0.5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
